.filepond--root,
.filepond--root .filepond--drop-label {
  height: 200px;
  opacity: 0.5;


}
.filepond--panel-root {
  /* border-radius: 0; */
  outline: 4px dotted rgb(144, 205, 204);
  outline-offset: 15px;
}


.filepond--drip {
  outline: 4px dotted rgb(7, 6, 6);
  outline-offset: 15px;
  
}
